{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Post</h1>

        <form method='POST'>
            <label>New blog post title:
                <br/>
                <input name="title" type="text" value="" />
            </label>
            <br/><br/>
            <label>Your new blog post:
                <br/>
            <textarea name="body" value="">blog here...</textarea>
            </label>
            <br/>
            <input type="submit" value="Add Entry" />
        </form>

{% endblock %}